    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-xs-6">
            <h3>&nbsp;</h3>
          </div>
          <div class="col-md-2 col-xs-6">
            <h3>&nbsp;</h3>
          </div>
          <div class="col-md-4 col-xs-12">
            <h3>&nbsp;</h3>
          </div>
          <div class="col-md-4 col-xs-12">
            <h3>&nbsp;</h3>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery and Bootstrap -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>